attrs==20.3.0
certifi==2018.4.16
coverage==5.4
cycler==0.10.0
flake8==3.8.4
gdb==0.0.1
homebrew==0.2.2
importlib-metadata==3.7.0
iniconfig==1.1.1
kiwisolver==1.2.0
matplotlib==3.2.2
mccabe==0.6.1
numpy==1.19.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pygame==1.9.4
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
python-dateutil==2.8.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
